<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

<table id="example" class="table table-bordered" style="width: 100%">
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${game.players['TWO']}">
        <td th:text="*{playerNumber}"></td>
        <td th:text="*{store.stones}"></td>
        <span th:each="pit: *{pits}">
            <td th:text="${pit.stones}"></td>
        </span>
        <td></td>
    </tr>
    <tr th:object="${game.players['ONE']}">
        <td th:text="*{playerNumber}"></td>
        <td></td>
        <span th:each="pit: *{pits}">
            <td th:text="${pit.stones}"></td>
        </span>
        <td th:text="*{store.stones}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>