<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

<table id="example" class="table table-bordered" style="width: 100%">
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${game.board.players}">
        <td th:text="${player.value.playerNumber}"></td>
        <td th:text="${player.value.store.stones}"></td>
            <span th:each="pit: ${player.value.pits}">
                <td th:text="${pit.stones}"></td>
            </span>
    </tr>
    </tbody>
</table>
</body>
</html>